/*
Use this file to define your global styles.

If you prefer to use CSS, change the file extension
to .css and update the import in `pages/_app.js`

If you have CSS files in node_modules you wish to import,
it is recommended to import those directly to `pages/_app.js`

@see: docs/css-imports.md
*/
@import '~@ux/intents/lib/index';

code {
  font-size: calc(#{$ux-text-fontSize} * 0.9);
  color: $ux-boxLowContrast-foregroundColor;
  background-color: $ux-boxLowContrast-backgroundColor;
  border-radius: $ux-box-borderRadius;
  padding: .2em .4em;
}

.ux-app {
  background-color: $ux-boxLowContrast-backgroundColor;
}

// Responsive max-width container
.responsive-container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;

  @media (min-width: 991px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1160px;
  }

  @media (min-width: 1720px) {
    max-width: 1640px;
  }
}
